@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 253, 252, 251;
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, .font-luxury {
  font-family: var(--font-playfair), serif;
}

/* Custom Slider Styling */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #D4AF37; /* Champagne Gold */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Aturan Khusus Cetak PDF */
@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    background-color: white !important;
    color: black !important;
  }

  .print-card {
    border: 1px solid #eee !important;
    box-shadow: none !important;
    break-inside: avoid;
  }
}